/*width*/
::-webkit-scrollbar {
    width:9px;
}
/*track*/
::-webkit-scrollbar-track {
    background:rgba(255, 255, 255, 0);
}
/*thumb*/
::-webkit-scrollbar-thumb {
    background:#239c98 ;
    border-radius:4px;
}

.navbar {
    background: #ffffff;
}

.navbar-brand {
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 650;
    margin: 0;
    padding: 0;
    color: #239c98 !important;
}

.navbar-nav {
    text-transform: uppercase;
    font-size: small;
    font-weight: 500;
}


.banner {
    width: 100%;
    height: 450px;
    background: #d9f1ff58;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #04B5AE;
    font-size: 4em;
}

.banner-icons {
    width: 80px;
    margin: 0px 20px;
}

.heading {
    flex-direction: column;
}

.subtitle {
    color: #a1a1a1;
    font-weight: 300;
}

.sep {
    margin-bottom: 100px;
}

.no-border {
    border: 0;
    border-radius: 10px;
}

.way-1 {
    background: white;
    border: 1px solid #04B5AE;
}

.way-2 {
    background: #04B5AE;
    padding-bottom: 40px;
}

.way-3 {
    background: white;
    border: 1px solid #04B5AE;
}

.way-text {
    color: #04B5AE;
}

.way-text2 {
    color: #ffffff;
}

.text-light-ways {
    color: rgba(4, 181, 174, 0.6);
}

.text-muted-ways {
    text-transform: capitalize;
    font-size: 18px;
    color: lightslategray;
}

.text-muted-ways2 {
    text-transform: capitalize;
    font-size: 18px;
    color: whitesmoke;
}

.btn-light-2 {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 16px;
    color: white;
    font-weight: 500;
}

.btn-light-2:hover {
    color: #04B5AE;
    border: 1px solid #04B5AE;
    background-color: white;
}

.favorite-button {
    background-color: white;
    border: 1px solid #04B5AE;
    border-radius: 6px;
    color: lightsteelblue;
}

.favorite-button-active {
    background-color: white;
    border: 1px solid #04B5AE;
    border-radius: 6px;
    color: #04B5AE;
}

.container-blog {
    width: 70vw;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
}

.img-user-depo {
    height: 35px;
}

.card-title h1 {
    color: #e9e9e9;
}

.card-link {
    text-decoration: none;
    font-weight: 500;
}

.about-row {
    width: 100%;
}

.about {
    width: 100%;
    background: #fafafa;
}

.about-card {
    height: 500px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-image: url(../Imagens/puc-img.png);
    background-repeat: no-repeat;
     background-size: cover;
}

.about-text {
    color: #afafaf;
    font-size: 1.1em;
    font-weight: 400;
}

.articles {
    background: #f5f6f9;
}

.article-text {
    color: #797979;
}

.card-img-top {
    background: #e0e0e0;
    height: 200px;
}

.channels {
    background: linear-gradient(45deg, rgba(4, 181, 174, 0.4), #04B5AE);
}

.channels-flex {
    flex-direction: column;
}

/* Desktop */

@media only screen and (min-width: 600px) {
    .channels-flex {
        flex-direction: row;
    }
    .container-blog {
        width: 95vw;
    }
}

.click-here {
    font-size: large;
    font-weight: 500;
    color: #fafafa;
}

.jombo {
    width: 100%;
    height: 330px;
    background: #ebebeb;
}

.page-head {
    flex-direction: column;
    margin: 5em;
}

.blog-section {
    margin-top: 5em;
}

footer {
    height: 1920px;
}

.form-label {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9em;
    margin-bottom: 25px;
}

.dep-card {
    background: linear-gradient(180deg, #a8a8a8, #414141);
}

.dep-btn {
    font-size: x-large;
    font-weight: 600;
    color: #ffffff;
}

.article-image {
    position: relative;
    display: inline-block;
}

.article-badge {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px 10px;
}

.comment-form {
    max-width: 700px;
}

.footer {
    background: #f7f7f7;
    height: 156px;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: #f7f7f7;
}

.footer-logo {
    font-size: xx-large;
    color: #239c98 !important;
}

.parecer {
    display: flex;
}

.desaparecer {
    display: none;
}


@media screen and (max-width: 600px) {
    .container-blog {
        width: 90vw;
    }
    .about-card {
        height: 300px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-image: url(/Codigo/Imagens/puc-img.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
